<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landing.css') }}">
	<title>Bible in the Cloud</title>
</head>
<body>
	<header id="sky">
			<h1>Bible in the Cloud</h1>
			<p>BIBLE BIBLE</p>
			<a href="bitc" class="button">Search</a>
	</header>
</body>
</html>