*{
	margin:0;
	padding:0;
}

#sky {
	background-image: url(image/sky.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0  20px;
}

#sky h1{
	font-size: 50px;
	line-height: 1.2;
}

#sky p{
	font-size: 20px;
	margin-bottom: 20px;
}

#sky .button{
	font-size: 18px;
	text-decoration: none;
	color: #fff;
	border: #fff 1px solid;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 20px;
}

#sky .button:hover{
	background: #fff;
	color: #0080FF;
}
